.header {
    height: 4.5rem;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: #ffffff;
    opacity: 0.95;
    border-bottom: 2px solid #f2f2f2;
    width: 100%;
}
.search_video-header {
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo {
    display: flex;
    align-items: center;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 600;
    span {
        margin-left: -0.1em;
        margin-right: -0.1em;
    }
    .menu {
        cursor: pointer;
        color: black;
        margin-right: 0.5em;
        font-size: calc(1rem + 1vw);
    }
    svg {
        font-size: calc(1.5rem + 1vw);
        color: red;
    }
}
.search_video {
    padding: 0.4em 0.8em;
    border: 2px solid #f2f2f2;
    box-shadow: #f2f2f2 0px 4px 12px;
    width: 30%;
    min-width: max-content;
    display: flex;
    font-size: calc(0.8rem + 0.5vw);
    input {
        border: none;
        flex: 1;
        &:focus {
            outline: none;
        }
    }
    button {
        text-align: end;
        background-color: transparent;
        border: none;
    }
    @media only screen and (max-width: 610px) {
        border: none;
        width: min-content;
        box-shadow: none;
        button {
            display: block !important;
        }
        input {
            display: none;
        }
    }
}

.github-page {
    border-radius: 50%;
    text-align: end;
    svg {
        font-size: calc(1.5rem + 1vw);
        color: black;
        &:hover {
            transform: scale(1.02);
        }
    }
}
